# Add any directories, files, or patterns you don't want to be tracked by version controlProject_Child_WomanWelfareManagementSystem/build/
Project_Child_WomanWelfareManagementSystem/build/
/Project_Child_WomanWelfareManagementSystem/nbproject/private/